{% extends 'header.html' %}
{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>User Login</h2>
                    <ol>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>User Login</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs -->

        <div id="snowing">
        </div>
        <div id="profile">
            <h1 class="text-center fw-bold">Login Successfull</h1>
        </div>
{% endblock %}

</main>